<header>
  <div class="logoandnav">
    <div class="logo">
      <img src="../images/Logo-Shield.png" alt="Saurabian Heraldry" />
      <p><span class="smallfont">The Nation of</span><br />Saurabia</p>
      <div id="hidebutton">
        <button class="menuhide" onclick="menuToggle()">
          <img id="menuicon" src="../images/list.svg" alt="hamburger menu" />
        </button>
      </div>
    </div>

    <nav class="menu">
      <ul class="topmenu">
        <li><a href="../about/">About</a></li>
        <li><a class="borderless" href="../armoury/">Armoury</a></li>
      </ul>
      <ul class="bottommenu">
        <li><a href="../currency/">Currency</a></li>
        <li><a class="borderless" href="../history/">History</a></li>
      </ul>
    </nav>
  </div>
  <div class="banner">
    <!-- <img class="topbanner" src="images/${selectedImages}" alt="collage of photos of members of Saurabia" /> -->
  </div>
</header>
